{% include 'base.html' %}
<script >
	var form = {
		view:"form",
		id:"registerForm",
		scroll:"x",
		scroll:"y",
	    autoheight:true,
	    borderless:true,
        elements:[
        	{autowidth:true, rows:[
        		{view:"label", label:"အမည်"},
            	{view:"text", id:"lawyer_name", name:"lawyer_name", label:"", value:"{{laweyer_info.lawyer_name}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ရုံးခန်း(Will Show At Client Page)</span>"},
            	{view:"text", id:"office", name:"office", label:"", value:"{{laweyer_info.office}}", labelWidth:0},
        		{view:"label", label:"ရာထူး"},
            	{view:"text", id:"position", name:"position", label:"", value:"{{laweyer_info.position}}", labelWidth:0},
            	{view:"label", label:"အမျိုးအစား"},
            	{view:"text", id:"type", name:"type", label:"", value:"{{laweyer_info.type}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ဖုန်းနံပါတ်(၁)(Will Show At Client Page)</span>"},
            	{view:"text", id:"ph_1", name:"ph_1", label:"", value:"{{laweyer_info.ph_1}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ဖုန်းနံပါတ်(၂)(Will Show At Client Page)</span>"},
            	{view:"text", id:"ph_2", name:"ph_2", label:"", value:"{{laweyer_info.ph_2}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ဖုန်းနံပါတ်(၃)(Will Show At Client Page)</span>"},
            	{view:"text", id:"ph_3", name:"ph_3", label:"", value:"{{laweyer_info.ph_3}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ဖုန်းနံပါတ်(၄)(Will Show At Client Page)</span>"},
            	{view:"text", id:"ph_4", name:"ph_4", label:"", value:"{{laweyer_info.ph_4}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>ဖုန်းနံပါတ်(၅)(Will Show At Client Page)</span>"},
            	{view:"text", id:"ph_5", name:"ph_5", label:"", value:"{{laweyer_info.ph_5}}", labelWidth:0},
            	{view:"label", label:"တိုင်းဒေသကြီး"},
            	{view:"text", id:"division", name:"division", label:"", labelWidth:0, disabled:true},
            	{view:"label", label:"မြို့နယ်"},
            	{view:"text", id:"township", name:"township", label:"", value:"{{laweyer_info.township}}", labelWidth:0},
            	{view:"label", label:"<span style='color:green;'>မြို့(Will Show At Client Page)</span>"},
            	{view:"text", id:"town", name:"town", label:"", value:"{{laweyer_info.town}}", labelWidth:0}
        	]},
        ]
    };
    var to_back = {view:"button", id:"to_back", value:"ပြန်သွားမည်", css:"webix_primary", height:50, width:100};
    var btn_register = {view:"button", id:"btn_register", value:"ပြင်ဆင်မည်", css:"webix_primary", height:50, width:100};
    var footer = {view:"label", label:"<footer style='text-align:center;>'>white-shadows</footer>"};
	webix.ready(function () {
		webix.ui(
		{rows:[
			form,
			{cols:[
				to_back,
				{},
				btn_register
			]},
			footer,
			{height:75}
		]}
		);
		logic.init();
	});
	var logic = {
		init: function() {
			$$("to_back").attachEvent("onItemClick", logic.to_back);
			$$("btn_register").attachEvent("onItemClick", logic.detail_add);
			logic.dataload();
		},
		dataload: function() {
			logic.setDivision();
		},
		auth: function() {
			var auth_key = webix.storage.session.get("auth_key") || "";
			if (auth_key != "@^apo9324kl.w;mmshh;fji@#asdf423$^&^&%$$45852$$#") {
				var _url = webix.storage.session.get("url");
				location.href= _url + "auth";
			}
		},
		setDivision: function() {
			var _division = webix.storage.session.get("division") || "";
			$$("division").setValue(_division);
		},
		detail_add: function() {
			var _form_data = $$("registerForm").getValues();
			var _lawyer_name = _form_data.lawyer_name;
			var _office = _form_data.office;
			var _position = _form_data.position;
			var _type = _form_data.type;
			var _ph_1 = _form_data.ph_1;
			var _ph_2 = _form_data.ph_2;
			var _ph_3 = _form_data.ph_3;
			var _ph_4 = _form_data.ph_4;
			var _ph_5 = _form_data.ph_5;
			if (!logic.validate(_lawyer_name, _office, _ph_1, _ph_2, _ph_3, _ph_4, _ph_5)) {
				return false;
			}
			var _division = _form_data.division;
			var _township = _form_data.township;
			var _town = _form_data.town;
			var _post_data = {
				"page": "edit_detail",
				"lawyer_id": "{{laweyer_info.lawyer_id}}",
				"lawyer_name": _lawyer_name,
				"office": _office,
				"position": _position,
				"type": _type,
				"ph_1": _ph_1,
				"ph_2": _ph_2,
				"ph_3": _ph_3,
				"ph_4": _ph_4,
				"ph_5": _ph_5,
				"division": _division,
				"township": _township,
				"town": _town
			};
			$.post("/", _post_data, function() {
				webix.alert({
					title:"Success",
					ok:"OK",
					width:300,
					text:"ပြည်နယ်နှင့်တိုင်းဒေသ အသေးစိတ်အချက်အလက်ပြင်ဆင်မှု အောင်မြင်ပါသည်"
				}) .then(function(){logic.to_back();});
			});
		},
		validate: function(_lawyer_name, _office, _ph_1, _ph_2, _ph_3, _ph_4, _ph_5) {
			if (_office == "" && _ph_1 == "" && _ph_2 == "" && _ph_3 == "" && _ph_4 == "" && _ph_5 == "") {
				webix.alert({
					title:"Input Require data",
					ok:"OK",
					type:"alert-error",
					width:300,
					text:"ရုံးခန်း နှင့် ဖုန်းနံပါတ်ကို ထည့်သွင်းပါ"
				});
				return false;
			}
			if (_office == "") {
				webix.alert({
					title:"Input Require data",
					ok:"OK",
					type:"alert-error",
					width:300,
					text:"ရုံးခန်းကို ထည့်သွင်းပါ"
				});
				return false;
			}
			if (_ph_1 == "" && _ph_2 == "" && _ph_3 == "" && _ph_4 == "" && _ph_5 == "") {
				webix.alert({
					title:"Input Require data",
					ok:"OK",
					type:"alert-error",
					width:300,
					text:"ဖုန်းနံပါတ်ကို ထည့်သွင်းပါ"
				});
				return false;
			}
			return true;
		},
		to_back: function() {
			var _url      = webix.storage.session.get("url");
			var _auth_key = webix.storage.session.get("auth_key");
			var division  = webix.storage.session.get("division");
			location.href= _url + "?page=detail_list&division=" + division + "&auth_key=" + _auth_key;
		}
	}
</script>